<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Station Meteo</title>
</head>
<body>

<div class="round">
    <div id="background_color">
    <div id="temperature_interne">
        25°C
    </div>

     <div id="temperature_externe">
        10°
    </div>

    <div class="date_jour">
        mardi 05 février 2019
    </div>

    <div class="heure">
        09:10
    </div>

    <div class="meteo_jour">
        Ensoleillé
    </div>
</div>



</div>

</body>
</html>