<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Station Meteo</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="round">
    <div id="lightDetect">
        <div id="tempDetectInterne">
            <i class="fas fa-home"></i>
        </div>

        <div id="temperature_externe">
            <i class="fas fa-globe-europe"></i>
            10° exterieur
        </div>

        <div class="heure">
            09:10
        </div>

        <div class="date_jour">
            mardi 05 février 2019
        </div>

        <div class="meteo_jour">
            <i class="fas fa-cloud-sun"></i>
            Ensoleillé
        </div>
    </div>


</div>

</body>
</html>